body {
    font-family: comic sans ms;
    font-size: 14pt;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 20pt;
}
a {
    color: cyan;
}
a:hover {
    color: red;
}
.container {
    display: flex;
    justify-content: center;
}